@{
    ViewBag.Title = "Proposal_Page3";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8" />
    <link href="@Url.Content("~/Content/Print.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="p3">
        <style type="text/css">
            #p1 {
                top: 27px;
            }

            #p2 {
                top: 167px;
            }

            #p3 {
                top: 237px;
            }

            #p4 {
                top: 417px;
            }

            #p5 {
                top: 597px;
            }

            #p6 {
                top: 667px;
            }

            #p7 {
                top: 757px;
            }

            #p8 {
                top: 847px;
            }

            #r1{
                top: 1000px;
                align-content:center;
            }

            .s1 {
                FONT-SIZE: 15px;
                FONT-FAMILY: CIDFont-F2_j;
                color: rgb(0,0,0);
            }

            .s2 {
                FONT-SIZE: 11px;
                FONT-FAMILY: CIDFont-F1_b;
                color: rgb(0,0,0);
            }
        </style>
        <div id="p1" class="t l s1">
            <p class="wrapper">
                2. Upon completion of the work specified and payment in full by the Purchaser, Creative Kitchens shall deliver and assign to
                Purchaser, without recourse, all manufacturers, installers, and suppliers warranties, if any, covering such material. AS TO SUCH
                MATERIALS, CREATIVE KITCHENS NEITHER MAKES OR ADOPTS ANY SUCH MANUFACTURERS, INSTALLERS, OR SUPPLIERS
                WARRANTY AND SPECIFICALLY EXCLUDES AND DISCLAIMS ANY EXPRESS OR IMPLIED WARRANTIES OF ANY NATURE RELATING
                THERETO, INCLUDING ANY IMPLIED WARRANTY OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.
            </p>
        </div>
        <div id="p2" class="t l s1">
            <p class="wrapper">
                3. The Purchaser agrees to accept delivery of the product or products when ready. The risk of loss, as to damage or destruction, shall
                be upon the Purchaser upon the delivery and receipt of the product(s).
            </p>
        </div>
        <div id="p3" class="t l s1">
            <p class="wrapper">
                4. The Purchaser understands that the products described are specially designed and custom built and that Creative Kitchens takes
                immediate steps upon execution of this Agreement to design, order and construct those items set forth herein. Accordingly, this
                Agreement is not subject to cancellation by the Purchaser for any reason. In the event that Purchaser attempts to cancel this
                Agreement or otherwise defaults in the performance of Purchaser’s obligations hereunder, Creative Kitchens may, at Creative
                Kitchens’ option, cancel this Agreement and retain as liquidated damages, and not as a penalty, all amounts paid by Purchaser.
                Alternatively, Creative Kitchens shall have the right to pursue any legal and equitable remedies available to it, including specific
                performance. Notwithstanding anything to the contrary set forth above, in the event of Purchaser’s default, Creative Kitchens shall
                have the right to stop performance hereunder until such time as Purchaser cures the default.
            </p>
        </div>
        <div id="p4" class="t l s1">
            <p class="wrapper">
                5. No installation, plumbing, electrical, flooring, decorating or other construction work is to be provided unless specifically set forth
                herein. In the event Creative Kitchens is to perform the installation, it is understood that the price agreed upon herein does not
                include the possible expense entailed in coping with hidden or unknown contingencies found at the job site. In the event such
                contingencies arise and Creative Kitchens is required to furnish labor or materials or otherwise perform work not provided for or
                contemplated by Creative Kitchens, the actual costs of materials and labor plus 35% thereof will be paid for by the Purchaser.
                Contingencies include, but are not limited to, the following: inability to reuse existing water, vent, and waste pipes; air shafts, ducts,
                grilles, louvers and registers; the relocation of concealed pipes, risers, wiring or conduits, the presence of which cannot be
                determined until the work has started; or imperfections, rotting or decay in the structure or parts thereof necessitating replacement.
            </p>
        </div>
        <div id="p5" class="t l s1">
            <p class="wrapper">
                6. Title to the item sold pursuant to this Agreement shall not pass to the Purchaser until the full price as set forth in this Agreement is
                paid to Creative Kitchens.
            </p>
        </div>
        <div id="p6" class="t l s1">
            <p class="wrapper">
                7. Delays in payment shall be subject to interest charges of 18% per annum, and in no event higher than the interest rate provided 
                by law. If Creative Kitchens is required to engage the services of a collection agency or an attorney, the Purchaser agrees to 
                reimburse Creative Kitchens for any amounts expended in order to collect the unpaid balance, including reasonable attorneys’ fees.
            </p>
        </div>
        <div id="p7" class="t l s1">
            <p class="wrapper">
                8. Creative Kitchens retains the right, upon breach of this Agreement by the Purchaser, to sell those items in Creative Kitchens’ 
                possession. In effecting any resale on breach of this Agreement by the Purchaser, Creative Kitchens shall be deemed to act in the 
                capacity of agent for the Purchaser. The purchaser shall be liable for any net deficiency on resale, plus the costs and expenses 
                incurred in reselling the items.
            </p>
        </div>
        <div id="p8" class="t l s1">
            <p class="wrapper">
                9. Creative Kitchens agrees that it will perform this contract in conformity with customary industry practices. The Purchaser agrees 
                that any claim for adjustment shall not be reason or cause for failure to make payment of the purchase price in full. This Agreement 
                shall be governed by the laws of the State of West Virginia. Any unresolved controversy or claim arising from or under this contract 
                shall be settled by binding arbitration in accordance with the rules of the American Arbitration Association in the United States and 
                judgment upon the award rendered may be entered in any court of competent jurisdiction.
            </p>
        </div>
        <div id="r1" class="t l s2">Page 2 of 3</div>
    </div>
</body>
</html>