@{
    ViewBag.Title = "Proposal_Page3";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8" />
    <link href="@Url.Content("~/Content/Print.css")" rel="stylesheet" type="text/css" />
</head>
<body style="margin: 0;">
    <div id="p3" style="overflow: hidden; position: relative; width: 935px; height: 1210px;">
        <!-- Begin inline CSS -->
        <style type="text/css">
            #p1_1 {
                top: 98px;
                word-spacing: 35.5px;
            }

            #p1_2 {
                top: 118px;
                word-spacing: 39px;
            }

            #p1_3 {
                top: 138px;
                word-spacing: 17px;
            }

            #p1_4 {
                top: 158px;
                word-spacing: 1px;
            }

            #p1_5 {
                top: 178px;
                word-spacing: 5px;
            }

            #p2_1 {
                top: 233px;
                word-spacing: 22px;
            }

            #p2_2 {
                top: 253px;
                 word-spacing: 22px;
            }

            #p3_1 {
                top: 287px;
                word-spacing: 31.5px;
            }

            #p3_2 {
                top: 307px;
                word-spacing: 34.8px;
            }

            #p3_3 {
                top: 327px;
                word-spacing: 36px;
            }

            #p3_4 {
                top: 347px;
                word-spacing: 36px;
            }

            #p3_5 {
                top: 367px;
                word-spacing: 44.3px;
            }

            #p3_6 {
                top: 387px;
                word-spacing: 34px;
            }

            #p3_7 {
                top: 407px;
                word-spacing: 33px;
            }

            #p3_8 {
                top: 427px;
                word-spacing: 32px;
            }

            #p4_1 {
                top: 491px;
                word-spacing: 32px;
            }

            #p4_2 {
                top: 511px;
                word-spacing: 29px;
            }

            #p4_3 {
                top: 531px;
                word-spacing: 31.5px;
            }

            #p4_4 {
                top: 552px;
                word-spacing: 34px;
            }

            #p4_5 {
                top: 572px;
                word-spacing: 31.5px;
            }

            #p4_6 {
                top: 592px;
                word-spacing: 34px;
            }

            #p4_7 {
                top: 612px;
                word-spacing: 26px;
            }

            #p4_8 {
                top: 632px;
                word-spacing: 42px;
            }

            #tp_3 {
                left: 18px;
                top: 652px;
                letter-spacing: 0.3px;
                word-spacing: 30px;
            }

            #tq_3 {
                left: 18px;
                top: 706px;
                letter-spacing: 0.3px;
                word-spacing: 19.5px;
            }

            #ts_3 {
                left: 18px;
                top: 727px;
                letter-spacing: 0.3px;
                word-spacing: 19.5px;
            }

            #tt_3 {
                left: 18px;
                top: 773px;
                letter-spacing: 0.3px;
                word-spacing: 26px;
            }

            #tu_3 {
                left: 18px;
                top: 793px;
                letter-spacing: 0.3px;
                word-spacing: 35px;
            }

            #tv_3 {
                left: 18px;
                top: 814px;
                letter-spacing: 0.3px;
                word-spacing: 33px;
            }

            #tw_3 {
                left: 18px;
                top: 866px;
                letter-spacing: 0.3px;
                word-spacing: 32px;
            }

            #tx_3 {
                left: 18px;
                top: 886px;
                letter-spacing: 0.3px;
                word-spacing: 34.5px;
            }

            #ty_3 {
                left: 18px;
                top: 906px;
                letter-spacing: 0.3px;
                word-spacing: 32.5px;
            }

            #tz_3 {
                left: 18px;
                top: 926px;
                letter-spacing: 0.3px;
                word-spacing: 32.5px;
            }

            #t10_3 {
                left: 18px;
                top: 989px;
                letter-spacing: 0.3px;
                word-spacing: 30.5px;
            }

            #t11_3 {
                left: 18px;
                top: 1009px;
                letter-spacing: 0.3px;
                word-spacing: 23.5px;
            }

            #t12_3 {
                left: 18px;
                top: 1029px;
                letter-spacing: 0.3px;
                word-spacing: 24.3px;
            }

            #t13_3 {
                left: 18px;
                top: 1050px;
                letter-spacing: 0.3px;
                word-spacing: 27.3px;
            }

            #t14_3 {
                left: 18px;
                top: 1070px;
                letter-spacing: 0.3px;
                word-spacing: 27.3px;
            }

            #t15_3 {
                left: 447px;
                top: 1143px;
                letter-spacing: 0.3px;
                word-spacing: -0.1px;
            }

            .s1_3 {
                FONT-SIZE: 58px;
                FONT-FAMILY: CIDFont-F2_j;
                color: rgb(0,0,0);
            }

            .s2_3 {
                FONT-SIZE: 49px;
                FONT-FAMILY: CIDFont-F2_j;
                color: rgb(0,0,0);
            }
        </style>
        <!-- End inline CSS -->
        <!-- Begin embedded font definitions -->
        <style id="fonts3" type="text/css">

            @@font-face {
                font-family: TimesNewRoman;
            }

        </style>
        <!-- End embedded font definitions -->
        <!-- Begin page background -->
        <div id="pg3Overlay" style="width:100%; height:100%; position:absolute; z-index:1; background-color:rgba(0,0,0,0); -webkit-user-select: none;"></div>
        <div id="pg3" style="-webkit-user-select: none;">
        <!-- End page background -->
        <!-- Begin text definitions (Positioned/styled in CSS) -->
        <div id="p1_1" class="t pStart s1_3">2. Upon completion of the work specified and payment in full by the Purchaser, Creative Kitchens shall deliver and assign to</div>
        <div id="p1_2" class="t pStart s1_3">Purchaser, without recourse, all manufacturers, installers, and suppliers warranties, if any, covering such material. AS TO SUCH</div>
        <div id="p1_3" class="t pStart s1_3">MATERIALS, CREATIVE KITCHENS NEITHER MAKES OR ADOPTS ANY SUCH MANUFACTURERS, INSTALLERS, OR SUPPLIERS</div>
        <div id="p1_4" class="t pStart s1_3">WARRANTY AND SPECIFICALLY EXCLUDES AND DISCLAIMS ANY EXPRESS OR IMPLIED WARRANTIES OF ANY NATURE RELATING</div>
        <div id="p1_5" class="t pStart s1_3">THERETO, INCLUDING ANY IMPLIED WARRANTY OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. </div>
        <div id="p2_1" class="t pStart s1_3">3. The Purchaser agrees to accept delivery of the product or products when ready. The risk of loss, as to damage or destruction, shall</div>
        <div id="p2_2" class="t pStart s1_3">be upon the Purchaser upon the delivery and receipt of the product(s).</div>
        <div id="p3_1" class="t pStart s1_3">4. The Purchaser understands that the products described are specially designed and custom built and that Creative Kitchens takes</div>
        <div id="p3_2" class="t pStart s1_3">immediate steps upon execution of this Agreement to design, order and construct those items set forth herein. Accordingly, this</div>
        <div id="p3_3" class="t pStart s1_3">Agreement is not subject to cancellation by the Purchaser for any reason. In the event that Purchaser attempts to cancel this</div>
        <div id="p3_4" class="t pStart s1_3">Agreement or otherwise defaults in the performance of Purchaser’s obligations hereunder, Creative Kitchens may, at Creative</div>
        <div id="p3_5" class="t pStart s1_3">Kitchens’ option, cancel this Agreement and retain as liquidated damages, and not as a penalty, all amounts paid by Purchaser.</div>
        <div id="p3_6" class="t pStart s1_3">Alternatively, Creative Kitchens shall have the right to pursue any legal and equitable remedies available to it, including specific</div>
        <div id="p3_7" class="t pStart s1_3">performance. Notwithstanding anything to the contrary set forth above, in the event of Purchaser’s default, Creative Kitchens shall</div>
        <div id="p3_8" class="t pStart s1_3">have the right to stop performance hereunder until such time as Purchaser cures the default.</div>
        <div id="p4_1" class="t pStart s1_3">5. No installation, plumbing, electrical, flooring, decorating or other construction work is to be provided unless specifically set forth</div>
        <div id="p4_2" class="t pStart s1_3">herein. In the event Creative Kitchens is to perform the installation, it is understood that the price agreed upon herein does not</div>
        <div id="p4_3" class="t pStart s1_3">include the possible expense entailed in coping with hidden or unknown contingencies found at the job site. In the event such</div>
        <div id="p4_4" class="t pStart s1_3">contingencies arise and Creative Kitchens is required to furnish labor or materials or otherwise perform work not provided for or</div>
        <div id="p4_5" class="t pStart s1_3">contemplated by Creative Kitchens, the actual costs of materials and labor plus 35% thereof will be paid for by the Purchaser.</div>
        <div id="p4_6" class="t pStart s1_3">Contingencies include, but are not limited to, the following: inability to reuse existing water, vent, and waste pipes; air shafts, ducts,</div>
        <div id="p4_7" class="t pStart s1_3">grilles, louvers and registers; the relocation of concealed pipes, risers, wiring or conduits, the presence of which cannot be</div>
        <div id="p4_8" class="t pStart s1_3">determined until the work has started; or imperfections, rotting or decay in the structure or parts thereof necessitating replacement.</div>
        <div id="tq_3" class="t pStart s1_3">6. Title to the item sold pursuant to this Agreement shall not pass to the Purchaser until the full price as set forth in this Agreement is </div>
        <div id="ts_3" class="t pStart s1_3">paid to Creative Kitchens.</div>
        <div id="tt_3" class="t pStart s1_3">7. Delays in payment shall be subject to interest charges of 18% per annum, and in no event higher than the interest rate provided</div>
        <div id="tu_3" class="t pStart s1_3">by law. If Creative Kitchens is required to engage the services of a collection agency or an attorney, the Purchaser agrees to</div>
        <div id="tv_3" class="t pStart s1_3">reimburse Creative Kitchens for any amounts expended in order to collect the unpaid balance, including reasonable attorneys’ fees.</div>
        <div id="tw_3" class="t pStart s1_3">8. Creative Kitchens retains the right, upon breach of this Agreement by the Purchaser, to sell those items in Creative Kitchens’</div>
        <div id="tx_3" class="t pStart s1_3">possession. In effecting any resale on breach of this Agreement by the Purchaser, Creative Kitchens shall be deemed to act in the</div>
        <div id="ty_3" class="t pStart s1_3">capacity of agent for the Purchaser. The purchaser shall be liable for any net deficiency on resale, plus the costs and expenses</div>
        <div id="tz_3" class="t pStart s1_3">incurred in reselling the items.</div>
        <div id="t10_3" class="t pStart s1_3">9. Creative Kitchens agrees that it will perform this contract in conformity with customary industry practices. The Purchaser agrees</div>
        <div id="t11_3" class="t pStart s1_3">that any claim for adjustment shall not be reason or cause for failure to make payment of the purchase price in full. This Agreement</div>
        <div id="t12_3" class="t pStart s1_3">shall be governed by the laws of the State of West Virginia. Any unresolved controversy or claim arising from or under this contract</div>
        <div id="t13_3" class="t pStart s1_3">shall be settled by binding arbitration in accordance with the rules of the American Arbitration Association in the United States and</div>
        <div id="t14_3" class="t pStart s1_3">judgment upon the award rendered may be entered in any court of competent jurisdiction.</div>
        <div id="t15_3" class="t s2_3">page 2 of 3</div>
        <!-- End text definitions -->

    </div>
</body>
</html>