@{
    ViewBag.Title = "Proposal_Page4";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8" />
    <link href="@Url.Content("~/Content/Print.css")" rel="stylesheet" type="text/css" />
</head>
<body style="margin: 0;">
    <div id="p4" style="overflow: hidden; position: relative; width: 935px; height: 1210px;">
        <!-- Begin inline CSS -->
        <style type="text/css">
            #t1_4 {
                left: 43px;
                top: 782px;
                letter-spacing: 0.2px;
            }

            #t2_4 {
                left: 487px;
                top: 782px;
            }

            #t3_4 {
                left: 487px;
                top: 872px;
            }

            #t4_4 {
                left: 719px;
                top: 975px;
                letter-spacing: -0.1px;
            }

            #t5_4 {
                left: 552px;
                top: 1046px;
                letter-spacing: 0.1px;
            }

            #t6_4 {
                left: 571px;
                top: 1086px;
                letter-spacing: 0.1px;
                word-spacing: 0.2px;
            }

            #t7_4 {
                left: 656px;
                top: 1086px;
                letter-spacing: 0.1px;
                word-spacing: 0.1px;
            }

            #t8_4 {
                left: 571px;
                top: 1113px;
                letter-spacing: 0.1px;
                word-spacing: 0.2px;
            }

            #t9_4 {
                left: 664px;
                top: 1113px;
                letter-spacing: 0.1px;
                word-spacing: -0.1px;
            }

            #p2 {
                top: 218px;
            }

            #tb_4 {
                left: 57px;
                top: 239px;
                word-spacing: 2.9px;
            }

            #tc_4 {
                left: 57px;
                top: 259px;
                word-spacing: 1.3px;
            }

            #td_4 {
                left: 57px;
                top: 279px;
                word-spacing: -0.3px;
            }

            #te_4 {
                left: 57px;
                top: 299px;
                word-spacing: 1.9px;
            }

            #tf_4 {
                left: 57px;
                top: 319px;
                word-spacing: -0.1px;
            }

            #p3 {
                left: 57px;
                top: 391px;
                letter-spacing: 0.1px;
            }

            #th_4 {
                left: 88px;
                top: 391px;
                word-spacing: 16.1px;
            }

            #ti_4 {
                left: 57px;
                top: 411px;
                word-spacing: 5.2px;
            }

            #tj_4 {
                left: 57px;
                top: 431px;
                word-spacing: 13.7px;
            }

            #tk_4 {
                left: 57px;
                top: 452px;
                word-spacing: 0.3px;
            }

            #tl_4 {
                left: 57px;
                top: 472px;
                word-spacing: -1.1px;
            }

            #tm_4 {
                left: 57px;
                top: 492px;
            }

            #p4 {
                left: 57px;
                top: 563px;
                word-spacing: 2.1px;
            }

            #to_4 {
                left: 57px;
                top: 583px;
                word-spacing: 3.3px;
            }

            #tp_4 {
                left: 57px;
                top: 603px;
                word-spacing: -0.7px;
            }

            #tq_4 {
                left: 57px;
                top: 623px;
                word-spacing: 11.8px;
            }

            #tr_4 {
                left: 57px;
                top: 643px;
                word-spacing: 1.9px;
            }

            #ts_4 {
                left: 458px;
                top: 643px;
                word-spacing: 1.6px;
            }

            #tt_4 {
                left: 57px;
                top: 664px;
                word-spacing: -0.2px;
            }

            #tu_4 {
                left: 57px;
                top: 684px;
                word-spacing: -0.1px;
            }

            #tv_4 {
                left: 254px;
                top: 975px;
                letter-spacing: -0.1px;
            }

            #tw_4 {
                left: 163px;
                top: 798px;
                letter-spacing: 0.1px;
            }

            #tx_4 {
                left: 696px;
                top: 798px;
            }

            #ty_4 {
                left: 220px;
                top: 894px;
                letter-spacing: 0.1px;
                word-spacing: -0.1px;
            }

            #tz_4 {
                left: 696px;
                top: 889px;
            }

            #p1 {
                top: 37px;
            }

            #t11_4 {
                left: 57px;
                top: 57px;
                word-spacing: 8.3px;
            }

            #t12_4 {
                left: 57px;
                top: 77px;
                word-spacing: 1px;
            }

            #t13_4 {
                left: 57px;
                top: 98px;
                word-spacing: -0.3px;
            }

            #t14_4 {
                left: 57px;
                top: 118px;
                word-spacing: -1.5px;
            }

            #t15_4 {
                left: 57px;
                top: 138px;
                letter-spacing: -0.1px;
            }

            .s1_4 {
                FONT-SIZE: 60px;
                FONT-FAMILY: CIDFont-F2_j;
                color: rgb(0,0,0);
            }

            .s2_4 {
                FONT-SIZE: 62.2px;
                FONT-FAMILY: CIDFont-F2_j;
                color: rgb(0,0,0);
            }

            .s3_4 {
                FONT-SIZE: 62.2px;
                FONT-FAMILY: CIDFont-F1_b;
                color: rgb(191,191,191);
            }

            .s4_4 {
                FONT-SIZE: 62.2px;
                FONT-FAMILY: CIDFont-F1_b;
                color: rgb(31,78,120);
            }

            .s5_4 {
                FONT-SIZE: 46.8px;
                FONT-FAMILY: CIDFont-F1_b;
                color: rgb(0,0,0);
            }

            .s6_4 {
                FONT-SIZE: 44.6px;
                FONT-FAMILY: CIDFont-F1_b;
                color: rgb(255,255,255);
            }
        </style>
        <!-- End inline CSS -->
        <!-- Begin embedded font definitions -->
        <style id="fonts4" type="text/css">

@@font-face {
	font-family: CIDFont-F1_b;
	src: url("fonts/CIDFont-F1_b.woff") format("woff");
}

@@font-face {
	font-family: CIDFont-F2_j;
	src: url("fonts/CIDFont-F2_j.woff") format("woff");
}

        </style>
        <!-- End embedded font definitions -->
        <!-- Begin page background -->
        <div id="pg4Overlay" style="width:100%; height:100%; position:absolute; z-index:1; background-color:rgba(0,0,0,0); -webkit-user-select: none;"></div>
        <div id="pg4" style="-webkit-user-select: none;"><object width="935" height="1210" data="4/4.svg" type="image/svg+xml" id="pdf4" style="width:935px; height:1210px; background-color:white; -moz-transform:scale(1); z-index: 0;"></object></div>
        <!-- End page background -->
        <!-- Begin text definitions (Positioned/styled in CSS) -->
        <div id="t1_4" class="t s1_4">Accepted: </div>
        <div id="t2_4" class="t s2_4">Accepted:</div>
        <div id="t3_4" class="t s2_4">Accepted:</div>
        <div id="t4_4" class="t s3_4">Date</div>
        <div id="t5_4" class="t s4_4">Please indicate the Jobsite Location:</div>
        <div id="t6_4" class="t s5_4">Jobsite is within</div>
        <div id="t7_4" class="t s5_4">the city limits of</div>
        <div id="t8_4" class="t s5_4">Jobsite is outside</div>
        <div id="t9_4" class="t s5_4">of city limits of</div>
        @*<div id="ta_4" class="t s2_4"></div>
        <div id="tb_4" class="t s2_4">and assigns, providing however that Purchaser shall not have the right to assign the benefit of this Agreement without the express</div>
        <div id="tc_4" class="t s2_4">consent of Creative Kitchens. Any notice required or permitted to be given under this Agreement shall be in writing and be deemed</div>
        <div id="td_4" class="t s2_4">given: (a) if by hand delivery, upon receipt thereof, or (b) if by mail, three (3) days after deposit in the U.S. mail, sent by registered or</div>
        <div id="te_4" class="t s2_4">certified mail, return receipt requested, postage prepaid, delivered or addressed to the addresses set forth herein, or to such other</div>
        <div id="tf_4" class="t s2_4">address as provided in advance by written notice to the other party.</div>*@
        @*<div id="tg_4" class="t s2_4">12.</div>
        <div id="th_4" class="t s2_4">This Agreement sets forth the entire agreement between the parties and any and all prior agreements, warranties or</div>
        <div id="ti_4" class="t s2_4">representations made by either party are superseded by this Agreement. If any provision of this Agreement is declared invalid or</div>
        <div id="tj_4" class="t s2_4">unenforceable by any tribunal, the remaining provisions of the Agreement shall not be affected thereby. All changes in this</div>
        <div id="tk_4" class="t s2_4">Agreement shall be made by a separate document and executed by both parties. No agent of Creative Kitchens, unless authorized in</div>
        <div id="tl_4" class="t s2_4">writing by Creative Kitchens, has any authority to waive, alter, or enlarge this contract, or to make any new or substituted or different</div>
        <div id="tm_4" class="t s2_4">contracts, representations, or warranties. </div>
        <div id="tn_4" class="t s2_4">13. West Virginia State Law, as set forth in Chapter 21, Article 11A of the West Virginia Code, contains important requirements you</div>
        <div id="to_4" class="t s2_4">must follow before you may file a lawsuit for defective construction against the contractor who made residential improvements to</div>
        <div id="tp_4" class="t s2_4">your property. At least ninety days before you file your lawsuit, you must deliver to the contractor a written notice of an construction</div>
        <div id="tq_4" class="t s2_4">conditions you allege are defective and provide your contractor and any subcontractors, suppliers or design professionals the</div>
        <div id="tr_4" class="t s2_4">opportunity to make an offer to repair or pay for the defects.</div>*@
        <div id="ts_4" class="t s2_4">You are not obligated to accept any offer made by the contractor or</div>
        <div id="tt_4" class="t s2_4">any subcontractors, suppliers or design professionals. There are deadlines and procedures under state law and failure to follow them</div>
        <div id="tu_4" class="t s2_4">may affect your ability to file a lawsuit.</div>
        <div id="tv_4" class="t s3_4">Date</div>
        <div id="tw_4" class="t s3_4">Creative Kitchens Incorporated</div>
        <div id="tx_4" class="t s3_4">Purchaser</div>
        <div id="ty_4" class="t s6_4">Creative Kitchens Incorporated</div>
        <div id="tz_4" class="t s3_4">Purchaser</div>
        @*<div id="t10_4" class="t s2_4">10. Creative Kitchens anticipates that the delivery date or the date upon which the installation, if appropriate, is to begin may</div>
        <div id="t11_4" class="t s2_4">change. The Purchaser understands that these dates, when given, shall be deemed approximate, and performance is subject to</div>
        <div id="t12_4" class="t s2_4">delays caused by, but not limited to, strikes, fires, availability of the product at the time of delivery, acts of God, completion of prior</div>
        <div id="t13_4" class="t s2_4">job, and/or other reasons not under the reasonable control of Creative Kitchens. In the event delays do occur, Creative Kitchens shall</div>
        <div id="t14_4" class="t s2_4">give timely notice explaining the reasons for the delay along with the new anticipated delivery, installation or completion dates to the</div>*@
        <div id="p1" class="t s2_4">
            <p class="wrapper">10. Creative Kitchens anticipates that the delivery date or the date upon which the installation, if appropriate, is to begin may change.
            The Purchaser understands that these dates, when given, shall be deemed approximate, and performance is subject to delays caused by, but not limited to,
            strikes, fires, availability of the product at the time of delivery, acts of God, completion of prior job, and/or other reasons not under the reasonable 
            control of Creative Kitchens. In the event delays do occur, Creative Kitchens shall give timely notice explaining the reasons for the delay along with 
            the new anticipated delivery, installation or completion dates to the Purchaser.
            </p>
        </div>
        <div id="p2" class="t s2_4">
            <p class="wrapper">
                11. This Agreement shall be binding upon and inure to the benefit of the parties, their heirs, personal representatives, successors 
                and assigns, providing however that Purchaser shall not have the right to assign the benefit of this Agreement without the express 
                consent of Creative Kitchens. Any notice required or permitted to be given under this Agreement shall be in writing and be deemed 
                given: (a) if by hand delivery, upon receipt thereof, or (b) if by mail, three (3) days after deposit in the U.S. mail, sent by registered or 
                certified mail, return receipt requested, postage prepaid, delivered or addressed to the addresses set forth herein, or to such other 
                address as provided in advance by written notice to the other party.
            </p>
        </div>
        <div id="p3" class="t s2_4">
            <p class="wrapper">
                12. This Agreement sets forth the entire agreement between the parties and any and all prior agreements, warranties or 
                representations made by either party are superseded by this Agreement. If any provision of this Agreement is declared invalid or 
                unenforceable by any tribunal, the remaining provisions of the Agreement shall not be affected thereby. All changes in this 
                Agreement shall be made by a separate document and executed by both parties. No agent of Creative Kitchens, unless authorized in 
                writing by Creative Kitchens, has any authority to waive, alter, or enlarge this contract, or to make any new or substituted or different 
                contracts, representations, or warranties.
            </p>
        </div>
        <div id="p4" class="t s2_4">
            <p class="wrapper">
                13. West Virginia State Law, as set forth in Chapter 21, Article 11A of the West Virginia Code, contains important requirements you 
                must follow before you may file a lawsuit for defective construction against the contractor who made residential improvements to 
                your property. At least ninety days before you file your lawsuit, you must deliver to the contractor a written notice of an construction 
                conditions you allege are defective and provide your contractor and any subcontractors, suppliers or design professionals the
                opportunity to make an offer to repair or pay for the defects.
            </p>
        </div>
        <!-- End text definitions -->

    </div>
</body>
</html>
