@{
    ViewBag.Title = "Proposal_Page3";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8" />
</head>
<body style="margin: 0;">
    <div id="p3" style="overflow: hidden; position: relative; width: 935px; height: 1210px;">
        <!-- Begin shared CSS values -->
        <style class="shared-css" type="text/css">
            .t {
                -webkit-transform-origin: top left;
                -moz-transform-origin: top left;
                -o-transform-origin: top left;
                -ms-transform-origin: top left;
                -webkit-transform: scale(0.25);
                -moz-transform: scale(0.25);
                -o-transform: scale(0.25);
                -ms-transform: scale(0.25);
                z-index: 2;
                position: absolute;
                white-space: pre;
                overflow: visible;
            }
        </style>
        <!-- End shared CSS values -->
        <!-- Begin inline CSS -->
        <style type="text/css">
            #t1_3 {
                left: 57px;
                top: 58px;
                word-spacing: 11.3px;
            }

            #t2_3 {
                left: 57px;
                top: 78px;
                word-spacing: 8.6px;
            }

            #t3_3 {
                left: 810px;
                top: 78px;
                letter-spacing: 0.3px;
                word-spacing: 9.2px;
            }

            #t4_3 {
                left: 57px;
                top: 98px;
                letter-spacing: 0.3px;
                word-spacing: 23.9px;
            }

            #t5_3 {
                left: 793px;
                top: 98px;
                letter-spacing: 0.2px;
                word-spacing: 24px;
            }

            #t6_3 {
                left: 57px;
                top: 118px;
                letter-spacing: 0.3px;
                word-spacing: 10px;
            }

            #t7_3 {
                left: 57px;
                top: 138px;
                letter-spacing: 0.3px;
                word-spacing: 0.4px;
            }

            #t8_3 {
                left: 57px;
                top: 193px;
                word-spacing: -0.3px;
            }

            #t9_3 {
                left: 57px;
                top: 213px;
                letter-spacing: -0.1px;
            }

            #ta_3 {
                left: 57px;
                top: 247px;
                word-spacing: 2.6px;
            }

            #tb_3 {
                left: 57px;
                top: 267px;
                word-spacing: 6.1px;
            }

            #tc_3 {
                left: 57px;
                top: 287px;
                word-spacing: 9.7px;
            }

            #td_3 {
                left: 57px;
                top: 308px;
                word-spacing: 11.9px;
            }

            #te_3 {
                left: 57px;
                top: 328px;
                word-spacing: 7.7px;
            }

            #tf_3 {
                left: 57px;
                top: 348px;
                word-spacing: 7.9px;
            }

            #tg_3 {
                left: 57px;
                top: 368px;
                word-spacing: 3.1px;
            }

            #th_3 {
                left: 57px;
                top: 388px;
                word-spacing: -0.2px;
            }

            #ti_3 {
                left: 57px;
                top: 471px;
                word-spacing: 2.2px;
            }

            #tj_3 {
                left: 57px;
                top: 491px;
                word-spacing: 6.1px;
            }

            #tk_3 {
                left: 57px;
                top: 512px;
                word-spacing: 8.2px;
            }

            #tl_3 {
                left: 57px;
                top: 532px;
                word-spacing: 5.5px;
            }

            #tm_3 {
                left: 57px;
                top: 552px;
                word-spacing: 9.1px;
            }

            #tn_3 {
                left: 57px;
                top: 572px;
                word-spacing: 0.8px;
            }

            #to_3 {
                left: 57px;
                top: 592px;
                word-spacing: 14.5px;
            }

            #tp_3 {
                left: 57px;
                top: 612px;
                word-spacing: -0.1px;
            }

            #tq_3 {
                left: 57px;
                top: 666px;
            }

            #tr_3 {
                left: 76px;
                top: 666px;
                word-spacing: -0.2px;
            }

            #ts_3 {
                left: 57px;
                top: 687px;
                word-spacing: -0.3px;
            }

            #tt_3 {
                left: 57px;
                top: 733px;
                word-spacing: 2.1px;
            }

            #tu_3 {
                left: 57px;
                top: 753px;
                word-spacing: 11.1px;
            }

            #tv_3 {
                left: 57px;
                top: 774px;
                word-spacing: -0.1px;
            }

            #tw_3 {
                left: 57px;
                top: 826px;
                word-spacing: 7.4px;
            }

            #tx_3 {
                left: 57px;
                top: 846px;
                word-spacing: 4.4px;
            }

            #ty_3 {
                left: 57px;
                top: 866px;
                word-spacing: 8.2px;
            }

            #tz_3 {
                left: 57px;
                top: 886px;
                word-spacing: -0.2px;
            }

            #t10_3 {
                left: 57px;
                top: 949px;
                word-spacing: 3px;
            }

            #t11_3 {
                left: 57px;
                top: 969px;
                word-spacing: 0.8px;
            }

            #t12_3 {
                left: 57px;
                top: 989px;
                word-spacing: 1.8px;
            }

            #t13_3 {
                left: 57px;
                top: 1010px;
                word-spacing: 1.9px;
            }

            #t14_3 {
                left: 57px;
                top: 1030px;
                word-spacing: -0.2px;
            }

            #t15_3 {
                left: 447px;
                top: 1103px;
                word-spacing: -0.1px;
            }

            .s1_3 {
                FONT-SIZE: 62.2px;
                FONT-FAMILY: CIDFont-F2_j;
                color: rgb(0,0,0);
            }

            .s2_3 {
                FONT-SIZE: 49px;
                FONT-FAMILY: CIDFont-F2_j;
                color: rgb(0,0,0);
            }
        </style>
        <!-- End inline CSS -->
        <!-- Begin embedded font definitions -->
        <style id="fonts3" type="text/css">

@@font-face {
	font-family: CIDFont-F2_j;
	src: url("fonts/CIDFont-F2_j.woff") format("woff");
}

        </style>
        <!-- End embedded font definitions -->
        <!-- Begin page background -->
        <div id="pg3Overlay" style="width:100%; height:100%; position:absolute; z-index:1; background-color:rgba(0,0,0,0); -webkit-user-select: none;"></div>
        <div id="pg3" style="-webkit-user-select: none;"><object width="935" height="1210" data="3/3.svg" type="image/svg+xml" id="pdf3" style="width:935px; height:1210px; background-color:white; -moz-transform:scale(1); z-index: 0;"></object></div>
        <!-- End page background -->
        <!-- Begin text definitions (Positioned/styled in CSS) -->
        <div id="t1_3" class="t s1_3">2. Upon completion of the work specified and payment in full by the Purchaser, Creative Kitchens shall deliver and assign to</div>
        <div id="t2_3" class="t s1_3">Purchaser, without recourse, all manufacturers, installers, and suppliers warranties, if any, covering such material.</div>
        <div id="t3_3" class="t s1_3">AS TO SUCH</div>
        <div id="t4_3" class="t s1_3">MATERIALS, CREATIVE KITCHENS NEITHER MAKES OR ADOPTS ANY SUCH MANUFACTURERS, INSTALLERS,</div>
        <div id="t5_3" class="t s1_3">OR SUPPLIERS</div>
        <div id="t6_3" class="t s1_3">WARRANTY AND SPECIFICALLY EXCLUDES AND DISCLAIMS ANY EXPRESS OR IMPLIED WARRANTIES OF ANY NATURE RELATING</div>
        <div id="t7_3" class="t s1_3">THERETO, INCLUDING ANY IMPLIED WARRANTY OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. </div>
        <div id="t8_3" class="t s1_3">3. The Purchaser agrees to accept delivery of the product or products when ready. The risk of loss, as to damage or destruction, shall</div>
        <div id="t9_3" class="t s1_3">be upon the Purchaser upon the delivery and receipt of the product(s).</div>
        <div id="ta_3" class="t s1_3">4. The Purchaser understands that the products described are specially designed and custom built and that Creative Kitchens takes</div>
        <div id="tb_3" class="t s1_3">immediate steps upon execution of this Agreement to design, order and construct those items set forth herein. Accordingly, this</div>
        <div id="tc_3" class="t s1_3">Agreement is not subject to cancellation by the Purchaser for any reason. In the event that Purchaser attempts to cancel this</div>
        <div id="td_3" class="t s1_3">Agreement or otherwise defaults in the performance of Purchaser’s obligations hereunder, Creative Kitchens may, at Creative</div>
        <div id="te_3" class="t s1_3">Kitchens’ option, cancel this Agreement and retain as liquidated damages, and not as a penalty, all amounts paid by Purchaser.</div>
        <div id="tf_3" class="t s1_3">Alternatively, Creative Kitchens shall have the right to pursue any legal and equitable remedies available to it, including specific</div>
        <div id="tg_3" class="t s1_3">performance. Notwithstanding anything to the contrary set forth above, in the event of Purchaser’s default, Creative Kitchens shall</div>
        <div id="th_3" class="t s1_3">have the right to stop performance hereunder until such time as Purchaser cures the default.</div>
        <div id="ti_3" class="t s1_3">5. No installation, plumbing, electrical, flooring, decorating or other construction work is to be provided unless specifically set forth</div>
        <div id="tj_3" class="t s1_3">herein. In the event Creative Kitchens is to perform the installation, it is understood that the price agreed upon herein does not</div>
        <div id="tk_3" class="t s1_3">include the possible expense entailed in coping with hidden or unknown contingencies found at the job site. In the event such</div>
        <div id="tl_3" class="t s1_3">contingencies arise and Creative Kitchens is required to furnish labor or materials or otherwise perform work not provided for or</div>
        <div id="tm_3" class="t s1_3">contemplated by Creative Kitchens, the actual costs of materials and labor plus 35% thereof will be paid for by the Purchaser.</div>
        <div id="tn_3" class="t s1_3">Contingencies include, but are not limited to, the following: inability to reuse existing water, vent, and waste pipes; air shafts, ducts,</div>
        <div id="to_3" class="t s1_3">grilles, louvers and registers; the relocation of concealed pipes, risers, wiring or conduits, the presence of which cannot be</div>
        <div id="tp_3" class="t s1_3">determined until the work has started; or imperfections, rotting or decay in the structure or parts thereof necessitating replacement.</div>
        <div id="tq_3" class="t s1_3">6. </div>
        <div id="tr_3" class="t s1_3">Title to the item sold pursuant to this Agreement shall not pass to the Purchaser until the full price as set forth in this Agreement is </div>
        <div id="ts_3" class="t s1_3">paid to Creative Kitchens.</div>
        <div id="tt_3" class="t s1_3">7. Delays in payment shall be subject to interest charges of 18% per annum, and in no event higher than the interest rate provided</div>
        <div id="tu_3" class="t s1_3">by law. If Creative Kitchens is required to engage the services of a collection agency or an attorney, the Purchaser agrees to</div>
        <div id="tv_3" class="t s1_3">reimburse Creative Kitchens for any amounts expended in order to collect the unpaid balance, including reasonable attorneys’ fees.</div>
        <div id="tw_3" class="t s1_3">8. Creative Kitchens retains the right, upon breach of this Agreement by the Purchaser, to sell those items in Creative Kitchens’</div>
        <div id="tx_3" class="t s1_3">possession. In effecting any resale on breach of this Agreement by the Purchaser, Creative Kitchens shall be deemed to act in the</div>
        <div id="ty_3" class="t s1_3">capacity of agent for the Purchaser. The purchaser shall be liable for any net deficiency on resale, plus the costs and expenses</div>
        <div id="tz_3" class="t s1_3">incurred in reselling the items.</div>
        <div id="t10_3" class="t s1_3">9. Creative Kitchens agrees that it will perform this contract in conformity with customary industry practices. The Purchaser agrees</div>
        <div id="t11_3" class="t s1_3">that any claim for adjustment shall not be reason or cause for failure to make payment of the purchase price in full. This Agreement</div>
        <div id="t12_3" class="t s1_3">shall be governed by the laws of the State of West Virginia. Any unresolved controversy or claim arising from or under this contract</div>
        <div id="t13_3" class="t s1_3">shall be settled by binding arbitration in accordance with the rules of the American Arbitration Association in the United States and</div>
        <div id="t14_3" class="t s1_3">judgment upon the award rendered may be entered in any court of competent jurisdiction.</div>
        <div id="t15_3" class="t s2_3">page 2 of 3</div>
        <!-- End text definitions -->

    </div>
</body>
</html>
