@{ 
    ViewBag.Title = "PrintHub";
}

<div class="form-group">
    <div class="col-md-offset-9 col-md-9">
        <input type="button" value="Print Proposal" onclick="location.href='@Url.Action("PrintProposal", "Print")'" class="btn btn-default" />
    </div>
</div>
